{{#word-filter
   filter=(action 'filterByWord')
   as |words|}}
  <ul class="">
    {{#each words as |w|}}
      <li>{{w.word}}</li>
      <li>{{w.la}}</li>
      <li>{{w.comment}}</li>
    {{/each}}
  </ul>
{{/word-filter}}